version: '3.9'

services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    env_file:
      - ../apps/backend/.env
    depends_on:
      - redis
    restart: always
    networks:
      - trudrive-net

  redis:
    image: redis:7-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - trudrive-net

networks:
  trudrive-net:
    driver: bridge

volumes:
  redis_data:
